:root{
   --patter-border-radius:10px;

}

*{
    margin:0;
    padding: 0;

}

.container-slide{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 50vh;
    background-color: black;
    margin: 20vh auto;
    border-radius:var(--patter-border-radius);
    box-shadow: 0 20px 30px #f80000;
    border: 5px solid black;
}
.container-items{
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vw;
    border-radius: var(--patter-border-radius);
    overflow: hidden;
}

.items{
width: 50vw;
width: 50vh;
transition: all 1s;
}

.item:first-child{
    margin-left: -100%
}

.item img{
width: 50vw;
height: 50vw
var(--patter-border-radius)
}

.action-buttom{
color: aliceblue;
background-color: black;
cursor: pointer;
transition: all 1s
}

.action-buttom:hover{
color: #f80000;
background-color: black;
transition: all 1s
}

#previus{
  border-radius: 0px var(--patter-border-radius) 0px 0px var(--patter-border-radius);
}

#next{
    border-radius: 0px var(--patter-border-radius) var(--patter-border-radius) 0px
}